form{
    margin-left: 100px;
}
form p {
    margin: 5px 0; /* Khoảng cách giữa các thẻ <p> */
    font-weight: bold; /* Đặt đậm cho nội dung của thẻ <p> */
    color: #ffffcc; /* Màu chữ của thẻ <p> */
}
form input[type="text"],
form input[type="number"],
form select,
form textarea {
    width: 70%; /* Đặt chiều rộng của input và textarea là 100% của parent container */
    margin-bottom: 10px; /* Khoảng cách giữa các trường input và textarea */
    padding: 10px; /* Khoảng cách giữa nội dung và mép của input và textarea */
    border: 1px solid #ccc; /* Viền xung quanh input và textarea */
    border-radius: 5px; /* Bo tròn góc của input và textarea */
    font-size: 15px;
}

/* Thiết lập kiểu cho nút "Thêm Sản Phẩm" */
form button[type="submit"] {
    background-color: #4caf50; /* Màu nền của nút */
    color: white; /* Màu chữ của nút */
    padding: 10px 20px; /* Kích thước của nút */
    border: none; /* Loại bỏ viền của nút */
    border-radius: 5px; /* Bo tròn góc của nút */
    cursor: pointer; /* Hiển thị con trỏ khi rê chuột vào nút */
}

/* Khi rê chuột vào nút, thay đổi màu nền của nút */
form button[type="submit"]:hover {
    background-color: #45a049;
}
.loiadd{
    color: red;
    font-size: 25px;
    font-weight: bolder;
    margin-left: 20px;
}